@mixin button{
    background: #ff79da;
    background: linear-gradient(180deg, $color-secondaire 0%, $color-primaire 100%);
    border: none;
    outline: none;
    border-radius: 50px;
    font-weight: 500;
    color: #ffffff;
    box-shadow: 2px 2px 20px #b1b1b1;
    cursor: pointer;
}

// 350px
$color-primaire:#9356dc;
$color-secondaire:#FF79DA ;
$color-tertiaire:#99E2D0;
$familytitre : 'Shrikhand', cursive;
*{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    // font-family: 'Shrikhand', cursive;
}

body{
 color: black;   
 min-height: 100vh;
}
header{
    padding: 1rem;
    display: flex;
    position: relative;
    z-index: 100;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 0.3rem rgb(0 0 0 / 50%);
    img{
        width: 50%;
        max-width: 300px;
        display: block;
    }
    .localisation{
        background-color: rgb(194, 194, 194);
        display: inline-block;
        width: 100%;
        max-width: 300px;
        border: none;
    }
    a{
        i{
            font-size: 1.5rem;
            color: black;
        }
    }
}

.section-localisation{
    display: flex;
    justify-content: center;
    padding: 1rem ;
    background-color: #eaeaea;
    i{
        margin-right: 10px;
        font-size: 20px;
    }
    input{
        border: none;
        outline: none;
        font-weight: bolder;
        background-color: transparent;
        width: 25%;
        text-align: center;
    }
}
.reservation{
    text-align: center;
    background-color: #f7f7f7;
    padding: 10% 5%;
    h2{
        width: 70%;
        margin: auto;
        font-weight: 1000;
    }
    p{
        margin: 1.5rem 0;
        font-weight: bold;
    }
    button{
        @include button;
        padding:1rem;
        font-size: 1rem;
        font-weight: 500;
        // background: rgb(255,121,218);
        // background: linear-gradient(180deg, $color-secondaire 0%, $color-primaire 100%);
        // border: none;
        // outline: none;
        // border-radius: 50px;
        // padding:15px 20px;
        // font-weight: bold;
        // color: #ffffff;
    }
}

.fonctionnement{
    padding: 10% 5%;
    h2{
        font-weight: bold;
    }
    .card-fonctionnement{
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        width: 90%;
        background-color: #f7f7f7;
        margin: 10% auto;
        height: 70px;
        border-radius: 20px;
        color: black;
        box-shadow: 2px 2px 10px rgb(201, 201, 201);
        &:last-child{
            background-color: #f5edff;
        }
        .text-fonctionnement{

            display: flex;
            align-items: center;
            width: 80%;
            max-width: 300px;
            i{
                margin-right: 1.5rem;
                color: #7e7e7e;
            }
            h2{
                font-size: 17px;
                font-weight: 1000;
            }
        }

        .number{
            position: absolute;
            left: 0;
            transform: translateX(-50%);
            background-color: $color-primaire;
            color: #ffffff;
            border-radius: 50px ;
            width: 25px;
            height: 25px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 15px;
        }
    }
}
.restaurant{
    background-color: #f6f6f6;
    padding-bottom: 5%;

    h2{
        width: 90%;
        margin: auto;
        font-weight: bold;
        padding: 50px 0 5px 0;
    }
    .card-restaurant{
        display: block;
        width: 90%;
        margin: 5%;
        max-width: 350px;
        background-color: #ffffff;
        border-radius: 10px ;
        box-shadow: 2px 2px 10px rgb(209, 209, 209);
        position: relative;
        cursor: pointer;
        text-decoration: none;
        color: #1d1d1d;

        &.new-restaurant{
            &::before{
                content : "Nouveau";
                position: absolute;
                width: 25%;
                height: 30px;
                background-color: #99e2d0;
                color: #008766;
                top : 5%;
                right: 5%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }

        img{
            width: 100% ;
            height: 70%;
            max-height: 160px;

            border-radius: 20px 20px 0 0 ;
            object-fit: cover;
        }


        .details-restaurant{
            padding-top: 3%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 90%;
            margin: auto;
            font-size: 0.9rem;
            margin-bottom: 2rem;

            .marque-restaurant{
                line-height: 1.5rem;

                h4,h3{
                    margin: 0;
                    padding: 0;
                }
            }
            

        }
    }

}
// ************************* LIKE ********************************
.like{

    width: 25px;
    height: 25px;
    svg{

        #heart{
            transition: fill .4s ease;
            &:hover{
                fill: url(#MyGradient);
                stroke: none;
            }
        }
        
    }
    i{
        position: absolute;
        font-size: 25px;
        cursor: pointer;
        &.heart_empty{
            z-index: 10;
            &:hover{
                color: red;
            }
        }
        &.heart_fill{
            display: inline-block;
            background-image: linear-gradient(180deg, $color-secondaire 0%, $color-primaire 100%);
        }

            // color: linear-gradient(180deg, $color-secondaire 0%, $color-primaire 100%);

    }
}
//-------------------- PAGE RESTAURANT ------------------------------------
.header_page_restaurant{
    display: flex;
    align-items: center;
    position: relative;
    
    a{
        position: absolute;
        left: 5%;
    }
    img{
        height: 30px;
    }
}
.img-menu{
    width: 100%;
    max-height: 20rem;
    object-fit: cover;
}
.container-restaurant{
        position: relative;
        width: 100%;
        margin-top : -2rem ;
        height: auto;
        border-radius: 20px 20px 0px 0px;
        background-color: #f6f6f6;
        padding: 20px 10px;


        .header-restaurant{
            display: flex;
            justify-content: space-between;
            width: 90%;
            margin: auto;
            h3{
                font-family: "Shrikhand", cursive;
                font-weight: 500;
            }
    
        }

        .list-plat{
            margin-top: 30px;
            h3{
                margin-top: 15px;
                font-size: 12px;
                text-transform: uppercase;
                position: relative;
                width: 30%;
                margin-bottom: 0.8rem;
                &::after{
                    content: "";
                    position: absolute;
                    bottom: -25%;
                    left: 0;
                    width: 30%;
                    height: 2px;
                    background-color: #99e2d0;

                }
            }
            .card-plat{
                margin: 10px 0;
                width: 100%;
                border-radius: 10px;
                height: 50px;
                display: flex;
                align-items: center;
                position: relative;
                background-color: #ffffff;
                font-size: 12px;
                
                box-shadow: 1px 1px 10px #dadada;
                cursor: pointer;

                animation: itemAppear .6s;
                animation-timing-function: cubic-bezier(.5,1.58,.34,.82);
                animation-fill-mode: both;
                transform: scale(0);


                .name-plat{
                    margin-left: 5px;
                    width: 90%;
                    padding: 0.2rem;
                    line-height: 1.3rem;
                    span{
                        display: block;
                        &.strong-text{
                            font-weight: bold;
                            font-size: 0.9rem;
                        }
                        
                    }
                }

                .price-plat{
                    width: 15%;
                    display: flex;
                    justify-content: center;
                    font-weight: bold;
                    height: 100%;
                    align-items: flex-end;
                    margin-bottom: 1rem;
                }
                    


                .check{
                    // display: none;
                    width: 0;
                    border-radius: 0 10px 10px 0;
                    background-color: #99e2d0;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 20px;
                    color: #f1f1f1;
                    box-shadow: 2px 2px 2px #c7c7c7;
                    transition: all 0.5s;
                    visibility: hidden;
                    i{
                        opacity: 0;
                    }
                    
                    
                }
                &:hover{
                    border-radius: 10px ;
                    .check{

                        width: 20%;
                        visibility: visible;
                        i{
                            opacity: 1;
                            animation: rotateCheck 0.5s ;
                        }
                    }
                }
                
            }
        }
        .btn-command{
            @include button;
            margin: auto;
            display: block;
            margin-top: 2rem;
            padding:1rem 3rem;
        }
    
}
.container-loader{
    position: fixed;
    background-color: rgba(0,0,0,0.3);
    width: 100vw;
    height: 100vh;
    top: 0;
    z-index: 1000;
    overflow-y: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: popup 0.1s forwards;
    animation-delay: 2s;
    .loader{
        width: 20vh;
        height: 20vh;
        position: relative;
        animation: rotate 2s forwards;
        .circle{
            width: 20%;
            height: 20%;
            border-radius: 100%;
            position: absolute;
        }
        .circle:nth-child(1)
        {
            top: 0;
            right: 50%;
            transform: translateX(50%);
            background-color: $color-primaire;
        }
        .circle:nth-child(2)
        {
            top: 50%;
            right: 0;
            transform: translateY(-50%);
            background-color: $color-secondaire;
        }
        .circle:nth-child(3)
        {
            bottom: 0;
            right: 50%;
            transform: translateX(50%);
            background-color: $color-primaire;
        }
        .circle:nth-child(4)
        {
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            background-color: $color-secondaire;
        }
    }
}
footer{
    background-color: #353535;
    color: #ffffff;
    padding: 2rem;
    h2{
        font-family: $familytitre;
        font-weight: 200;
        font-size: 18px;
    }
    nav{
        margin-top: 2rem;
        ul{
            list-style: none;

            li{
                margin-top: 10px;
                i{
                    margin-right: 0.5rem;
                    width: 20px;
                    text-align: center;
                }
                a{
                    text-decoration: none;
                    color: #ffffff;
                }

            }
        }
    }
}

@keyframes rotateCheck {
    0%{
        transform: rotate(360deg);
    }
    100%{
        transform: rotate(0deg);
    }
}
@keyframes rotate {
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(720deg);
    }
}
@keyframes popup{
    100%{
        opacity: 0;
        z-index: -1;
    }
}

@keyframes itemAppear {
    0% {
      transform: scale(0)
    }
    100% {
      transform: scale(1);
    }
  }
@for $i from 0 to 9 {
.delay-#{$i} {
    animation-delay:  #{$i/10}s;
}
}