.reservation{
    button{
        @include button("Explorer nos restaurants");
        padding:1rem;
        font-size: 1rem;
        font-weight: 500;
    }
}

.container-restaurant{

    .btn-command{
        @include button("Commander");
        margin: auto;
        display: block;
        margin-top: 2rem;
        padding:1rem 3rem;
    }

}