@keyframes rotateCheck {
    0%{
        transform: rotate(360deg);
        transform: translateX(50px);
    }
    100%{
        transform: rotate(0deg);
        transform: translateX(0px);
    }
}
@keyframes rotate {
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(720deg);
    }
}
@keyframes popup{
    100%{
        opacity: 0;
        z-index: -1;
    }
}

@keyframes itemAppear {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
  }
  


@keyframes bg_btn {
    0%{
        background:linear-gradient(0deg, darken($color-primaire,10%) 0%,lighten($color-secondaire,10%) 100%);
        opacity: 0;
    }

    100%{
        background: linear-gradient(180deg, lighten($color-secondaire,1%) 0%, darken($color-primaire,1%) 100%);
        opacity: 1;
    }
}